.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color: rgb(24, 55, 55) !important;
}
.cardContainer{
  margin-top: 2px;
  margin-bottom: 3px !important;
  /* background-color: #282c34; */
  color: aliceblue;
  border-radius: 9px !important;
}
.Card{
  background-color: darkslategrey !important;
  /* transform: scale(2) !important; */
}
.img{
/* position: absolute; */
width: 20%;
height: 20%;
left: 50% !important;
transition: 0.5s;
z-index: 1 !important;
/* margin-left: 50% !important; */

}
.img:hover{
  transform: scale(2);
}
.images{
  width: 50px;
  height: 400px;
}
.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  padding: 90px;
  border-radius: 9px;
  color: white
}
.imgUsers{
  opacity: 0.3;
}
.imgUsers:hover{
  opacity: 1;
}
.login{

  width: 100%;
}
.tagContainer{
  margin-left: 450px !important;
  /* margin-top: 10px!important; */
}

.tagCol{
  margin-bottom: 10px;
}
.card
{
  margin: 18px;
}